*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/source/vendor/bundle
/source/log/*
/source/tmp/*
/db/*.sqlite3
/source/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html